.AdminTableHeader {
  font-family: Roboto sans-serif;
  padding-top: 24px;
  height: 48px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
}
.AdminTableRow {
  font-family: Roboto, sans-serif;
  height: 40px;
  font-size: 0.8125rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}
.CellStyles {
  display: flex;
  justify-content: center;
}
.IconStyles {
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  justify-content: center;
}
