.HeroLayout_container {
  height: 100vh;
}
.HeroLayout_main {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .HeroLayout_main {
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .HeroLayout_main {
    margin-top: 25%;
    max-width: 1150px;
  }
}
