/* d3 css start **/
svg *::selection {
	background: transparent;
}

svg *::-moz-selection {
	background: transparent;
} 

svg *::-webkit-selection {
	background: transparent;
}
rect.selection {
	stroke: #333;
	stroke-dasharray: 4px;
	stroke-opacity: 0.5;
	fill: transparent;
}

rect.cell-selected {
	stroke: rgb(51,102,153);
	stroke-width: 0.5px;   
}

rect.cell-hover {
	opacity: 0.5;
	stroke: #C0C0C0;
	stroke-width:0.3px;
}

text.text-selected {
	fill: #000;
}

text.text-highlight {
	fill: #ff0000;
}
text.text-hover {
	fill: #ff0000;
}
.xAxisLinearTop > path {
    display: none;
}
.xAxisLinearBottom > path {
    display: none;
}
.yAxisLinear > path {
    display: none;
}
.tick > line {
    display: none;
}
text.EmptyDates {
    fill: #ffffff !important;
}
text.DatesText{
    fill: #000000;
}
/** d3 css end */
.Matrix {
    overflow:hidden;
}
.graph {
    overflow:hidden;
}
.floatingButton {
	right: 20px;
	bottom: 10px;
	z-index: 999;
	position: fixed;
}
.floatingButton > a {
	float: right;
	bottom: 5px;
	margin-bottom: 10px;
}
.floatingButton .mdl-button {
    background: rgba(231, 231, 231, 0.8);
}
.resyncSpinner {
	top: 3px;
}
.hide {
	display: none;
}
.invisibleText {
	opacity: 0;
}
html, body {
    height: 98vh;
    margin: 0;
}
#graph {
    height: 98vh;
    overflow: hidden;
}
