body {
    height: 98vh;
}
#main {
    width: inherit;
    height: inherit;

    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;

    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;

    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;

}

