.AccountPage {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 70px 125px 70px 24px;
  margin: 0;
}
.AccountPageBanner {
  display: flex;
  justify-content: space-between;
}

.AccountLink {
  align-self: flex-start;
  color: var(--text-secondary);
}
