.MainLayout_container {
  display: flex;
}

.MainLayout_main {
  flex-shrink: 0;
  flex: 1;
}
@media screen and (max-width: 900px) {
  .MainLayout_main {
    margin-top: 50px;
  }
}
@media screen and (min-width: 900px) {
  .MainLayout_main {
    margin-left: 253px;
  }
}
