.BarGraphTooltip {
  width: 200px;
  padding: 14px 14px 7px 14px;
  background: rgba(255, 255, 255, 0.9);
}
.BarGraphTooltip_header {
  display: flex;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: solid gray 0.5px;
}
.BarGraphTooltip_row {
  display: flex;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}
.BarGraphTooltip_row-total {
  border-top: solid gray 0.5px;
}
.BarGraphTooltip_label {
  display: flex;
  flex: 2;
}
.BarGraphTooltip_value {
  display: flex;
  flex: 3;
  justify-content: center;
}
