.SidebarLink_link {
  border-radius: 8px;
  display: flex;
  gap: 20px;
  text-decoration: none;
  padding: 6px 12px;

  &:visited&:focus {
    text-decoration: none;
  }
}

.SidebarLink_link-active {
  display: flex;
  text-decoration: none;
  padding: 6px;
  &:visited&:focus {
    text-decoration: none;
  }
  background-color: var(--primary-light);
  border-radius: 8px;
}

.SidebarLink_link-active .MuiListItemIcon-root {
  color: var(--text-secondary);
}

.SidebarLink_link-active .MuiListItemText-root {
  color: var(--text-secondary);
}
