.ChartFilterForm {
  display: grid;
  width: 100%;
  gap: 10px;
  padding-bottom: 20px;
  grid-template-columns: repeat(1fr, 4);
}
.ChartFilterForm_container {
  display: flex;
  padding-left: 15px;
}
.ChartFilterForm_text {
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 15px;
}
.ChartFilterForm_nested {
  padding: 0;
}
.ChartFilterForm_submit {
  padding-top: 20px;
  width: 158px;
  padding-left: 15px;
}

@media screen and (max-width: 1040px) {
  .ChartFilterForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding-bottom: 20px;
  }
}
