<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div>
      <div
        style="
          font-weight: 300;
          font-size: 1.1em;
          color: rgba(0, 0, 0, 0.4);
          margin-top: 10px;
        "
      >
        <h1><%= display_name %> using <%= mail %></h1>
        <h2>is requesting access to dpdash</h2>
        <a style="text-decoration: none" href="<%= redirect %>" target="_blank"
          >Grant Access to Dpdash</a
        >
      </div>
    </div>
  </body>
</html>
